{% extends "base.html" %}


{% block content %}

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>PTI - PESE_PY</h1>
        <p>Esta es una aplicacion que genera los datos necesarios para la generacion de mapas de potencial eolico y solar.</p>
        <!-- <p>
            <a class="btn btn-lg btn-default" href="/register" role="button">Registrarse</a>
            <a class="btn btn-lg btn-primary" href="/login" role="button">Acceder &raquo;</a>
        </p> -->
        <h3 style="margin-top: 80px;">Ubicacion de las estaciones utilizadas para el analisis de potenciales energeticos.</h3>
        <div id="map-canvas" style="width: 100%; height: 400px"></div>
      </div>

    </div> <!-- /container -->


{% endblock %}

