<!DOCTYPE html>
<!--[if lt IE 7 ]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie9" lang="en"><![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/static/js/html5shiv.js"></script>
  <script src="/static/js/respond.min.js"></script>
<![endif]-->


<title>PTI - PESE_PY</title>

<style type="text/css">
	table, th, td {
	   border: 1px solid black;
	}
</style>

</head>

<body>

	<table>
		<thead>
            <tr>
                <th>Vel 10 max</th>
                <th>Vel 10 med</th>
                <th>Vel 10 min</th>
                
                {% for titulo in estacionVel10Titulos %}
			        <th>{{ titulo }}</th>
			    {% endfor %}

			    {% for titulo in mensualVel10Titulos %}
			        <th>{{ titulo }}</th>
			    {% endfor %}
            </tr>
        </thead>
        <tbody>
        	<tr>
        		{% for dato in datosExportar %}
        			<td>{{ dato.valor|floatformat:2 }}</td>
        		{% endfor %}
        	</tr>
        </tbody>
	</table>
</body>

</html>