{% extends "base.html" %}


{% block content %}

    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: true
            });

            $('#formato').change(function(){
                if ($(this).val() == 'grafico' || $(this).val() == 'graficoPorAnio')
                {
                    $('#variableInput').show();
                }
                else
                {
                    $('#variableInput').hide();
                }
            });

            $('#conjunto').change(function(){
                if ($(this).val() == 'porFecha')
                {
                    $('#fecha_desde_div').show();
                    $('#fecha_hasta_div').show();
                }
                else
                {
                    $('#fecha_desde_div').hide();
                    $('#fecha_hasta_div').hide();
                }
            });

            $('#formReporteAnual').submit(function(e){

                e.preventDefault();
                e.stopPropagation();

                if ($('input[name=estacion]:checked').val() == null)
                {
                    alert('Debe seleccionar por lo menos una estacion');
                    return false;
                }

                var estaciones = $('input[name=estacion]:checked').val();
                var desde = $('#fecha_desde').val();
                var hasta = $('#fecha_hasta').val();
                var formato = $('#formato').val();
                var periodo = $('#periodo').val();
                var variable = $('#variable').val();
                var conjunto = $('#conjunto').val();

                var url = '/reporte/periodo/tabla?desde='+desde+'&hasta='+hasta+'&estacion='+estaciones+'&formato='+formato+'&periodo='+periodo+'&conjunto='+conjunto;

                if (formato == 'grafico' ||formato == 'graficoPorAnio')
                {
                    // cargar datos y generar grafico
                    EstacionGrafico.graficoPorEstacion(url, formato, variable);
                }
                else
                {
                    window.location.href = url;    
                }
                

                return false;
            });

        });
    </script>

    <div class="container">

        <h1 id="helper-classes" class="page-header">Reporte por Estacion</h1>

        <form id="formReporteAnual" class="form-horizontal" method="GET">

            <h3 id="helper-classes" class="">Estaciones</h3>  

            <div class="row" style="height: 400px; overflow: scroll; margin-bottom: 20px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Propietario</th>
                            <th>Departamento</th>
                            <th>Datos desde/hasta</th>
                            <th>Periodo de datos</th>
                            <th>Elevacion (mts)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estacion in estaciones %}
                            <tr>
                                <!-- <th scope="row">{{ estacion.pk }}</th> -->
                                <th class="estacionRow" 
                                    data-id="{{ estacion.pk }}"
                                    data-nombre="{{ estacion.name }}"
                                    data-departamento="{{ estacion.departamento }}"
                                    data-datosperiodomes="{{ estacion.datosPeriodoMes }}"
                                    data-elevacion="{{ estacion.elevation }}"
                                    data-latitud="{{ estacion.lat }}"
                                    data-longitud="{{ estacion.lg }}"
                                >
                                    <input type="radio" name="estacion" value="{{ estacion.pk }}" />
                                </th>
                                <td>{{ estacion.nombreCompleto }}</td>
                                <td>{{ estacion.propietarioNombre }}</td>
                                <td>{{ estacion.departamentoNombre }}</td>
                                <td>{{ estacion.datosDesde }}</td>
                                <td>{{ estacion.datosPeriodoMes|floatformat:0 }} (meses)</td>
                                <td>{{ estacion.elevation|floatformat:0 }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>

          
          <div class="form-group">
            <label class="col-sm-2 control-label">Conjunto de Datos</label>
            <div class="col-sm-10">
                <select id="conjunto" name="conjunto" class="form-control">
                    <option value="porAnioTipo">Por a&ntilde;o tipo</option>
                    <option value="porFecha">Por fechas</option>
                </select>
            </div>
          </div>
          <div class="form-group" id="fecha_desde_div" style="display: none;">
            <label for="inputEmail3" class="col-sm-2 control-label">Desde</label>
            <div class="col-sm-10">
              <input type="text" class="form-control datepicker" id="fecha_desde" name="fecha_desde" placeholder="Fecha Desde">
            </div>
          </div>
          <div class="form-group" id="fecha_hasta_div" style="display: none;">
            <label for="inputPassword3" class="col-sm-2 control-label">Hasta</label>
            <div class="col-sm-10">
              <input type="text" class="form-control datepicker" id="fecha_hasta" name="fecha_hasta" placeholder="Fecha Hasta">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Periodo</label>
            <div class="col-sm-10">
                <select id="periodo" name="periodo" class="form-control">
                    <option value="hora">Por hora</option>
                    <option value="dia">Por dia</option>
                    <option value="mes">Por mes</option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Formato de Salida</label>
            <div class="col-sm-10">
                <select id="formato" name="formato" class="form-control">
                    <option value="tabla">Tabla</option>
                    <option value="csv">CSV</option>
                    <option value="xlsx">Excel</option>
                    <option value="grafico">Grafico</option>
                    <option value="graficoPorAnio">Grafico Anual</option>
                </select>
            </div>
          </div>
          <div class="form-group" style="display: none;" id="variableInput">
            <label for="inputPassword3" class="col-sm-2 control-label">Variable</label>
            <div class="col-sm-10">
                <select id="variable" name="variable" class="form-control">
                    <option value="winddir">Viento Direccion</option>
                    <option value="windspeed">Viento Velocidad</option>
                    <option value="temperatura">Temperatura</option>
                    <option value="presion">Presion</option>
                    <option value="radiation">Radiacion</option>
                    <option value="winddir50">Viento Direccion 50m</option>
                    <option value="windspeed50">Viento Velocidad 50m</option>
                </select>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Generar</button>
            </div>
          </div>
        </form>

        <div class="chart-panel pad3"></div>

    </div> <!-- /container -->


{% endblock %}

